body {
  margin: 0;
  background-color: black;
}
svg {
  position: absolute;
  bottom: 0;
}
.voltageLine {
  position: absolute;
  border-bottom: 1px solid white;
  width: inherit;
  left: 0;
  padding-left: 5px;
  font-family: monospace;
  font-weight: bold;
  color: white;
}
#show {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
}
